.btn-container {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    padding: 15px 20%;
    margin: 0 auto;
    font-size: 1.1rem;
    color: white;
    background-color: #75a33b;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 #4a6328;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
}
.btn:hover {
    transform: translatey(-3px);
    box-shadow: 0 9px 14px 0 #4a6328;
}
.btn.pressed {
    transform: none;
    box-shadow: 0 5px 10px 0 #4a6328;
}

