#image_container{
  background: no-repeat;
  background-image: url(../../images/plant.png);
  height: 50em;
  width: 55%;

}
#login_container {
  position: absolute;
  width: 539px;
  height: 741px;
  left: 790px;
  top: 104px;
  padding: 20px;
  border: 1px solid lightcyan;
  border-radius: 15px;
  box-shadow: 9px 9px 7px 1px rgb(144 238 144 / 40%);
  }

  #sign_in {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
  }

  #welcome {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #000000;
  }
  #welcome2 {
    font-family: Poppins;
    font-style: normal;
    color: green;
    font-size: 21px;
    margin-left: 5px;
    line-height: 31px;  
    border-radius: 25px;

}
#label_text{
  font-family: 'Lobster', cursive;
  color: darkslategrey;
}


/* #p-inputtext{
    width: 99%; */